.hdr-ctr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    width: 100%;
    height: 3.5rem;
    position: relative;

    .hdr-nav-ctr {
        display: flex;
        align-items: center;
        gap: 0 3rem;

        .hdr-logo {
            display: flex;
            align-items: center;
            gap: 0 1rem;
            font-weight: 300;
            font-size: 1.2rem;
        }

        .src-ctr {
            display: flex;
            align-items: center;
            position: relative;
            height: 2rem;
            width: 45rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            transition: .2s ease-in-out;

            input {
                width: 100%;
                outline: none;
                border: none;
                padding: 0 .8rem;
            }

            svg {
                width: 1.4rem;
                height: 1.4rem;
                margin-right: .8rem;
                cursor: pointer;
                position: relative;
                transition: .2s ease-in-out;


                &:hover {
                    fill: black;
                }
            }

            &:hover {
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
            }
        }

        .filter-ctr {
            display: flex;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            cursor: pointer;
            transition: .2s ease-in-out;
            position: relative;

            .filter-ctr-ctct {
                display: flex;
                gap: 0 .3rem;
                width: 100%;
                height: 100%;
                user-select: none;
                padding: .5rem 1rem;
            }


            &:hover {
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }



    .pfl-ctr {
        display: flex;
        align-items: center;
        gap: 0 .8rem;
        padding: .5rem 1rem;
        justify-self: flex-end;
        font-size: 1.2rem;
        font-weight: 300;
        transition: .2s ease-in-out;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
        border-radius: 5px;

        &:hover {
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        }
    }
}