.ant-mdl-bk-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    left: 0;
    top: 0;

    .add-note-ctr {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 40rem;
        height: 50rem;
        box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 0.3);
        position: relative;
        z-index: 30;

        .add-nt-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10%;
            width: 100%;
            border-bottom: 1px solid #f1f1f1;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            transition: .3s ease-in-out;


            input {
                border: none;
                outline: none;
                font-size: 1rem;
                padding-left: 1.5rem;
                height: 100%;
                width: 100%;
                font-size: 1.5rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                transition: .3s ease-in-out;

            }

            svg {
                height: 2rem;
                width: 2rem;
                margin-right: 1.5rem;
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover {
                    path {
                        fill: #fffb00;
                        stroke: #fffb00;
                    }
                }
            }
        }

        .add-note-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            outline: none;
            border: none;
            bottom: 1rem;
            right: 1rem;
            padding: 1rem 1.5rem;
            position: absolute;
            font-size: 1rem;
            font-weight: 400;
            background-color: #f1f1f1;
        }

        .ext-cfg-note {
            display: flex;
            align-items: center;
            gap: 0 3rem;
            width: 27rem;
            height: 3rem;
            position: absolute;
            bottom: 1rem;
            left: 1rem;

            .tag-note-btn,
            .color-note-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .7rem 1rem;
                border-radius: 5px;
                cursor: pointer;
                position: relative;
                user-select: none;
            }

            .tag-map {
                display: flex;
                gap: 0 .5rem;
                font-size: .8rem;

                p {
                    padding: .5rem;
                    border-radius: 5px;
                    cursor: pointer;
                    color: white;
                    font-weight: 500;
                    background-color: #1c1c1c;
                }
            }
        }


    }
}